.container-login {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 20px;
}

.wrapper {
  box-shadow: 0 0 6px var(--box-shadow);
  border-radius: 12px;
  padding: 40px 30px 30px;
  max-width: 340px;
}

.title {
  color: var(--color-black);
  font-weight: 500;
  font-size: 2rem;
  margin: 0 0 30px;
  text-align: center;
}
