<main class="container">
  <div class="wrapper">
    <h1 class="title">Авторизация</h1>
    <form class="form">
      <div class="group">
        {{{ Input type="text" name="login" ref="login" autocomplete="off" minLength="3"
        maxLength="20" pattern="^(?=.*[a-zA-Z])(?:.*[a-zA-Z0-9-_])$"}}}
        {{{ InputError ref="loginError" }}}
        <label class="label">Логин</label>
      </div>
      <div class="group">
        {{{ Input type="password" name="password" ref="password" autocomplete="current-password" minLength="8"
        maxLength="40" pattern="^(?=.*[A-Z])(?=.*[0-9])\S*$" }}}
        {{{ InputError ref="passwordError" }}}
        <label class="label">Пароль</label>
      </div>
      <button class="button-submit" type="submit">Войти</button>
      <a class="link" href="../signup/index.hbs">Нет аккаунта?</a>
    </form>
  </div>
</main>