<div>
  <div class="modal-users">
    <div class="modal-user__wrapper">
      <p class="modal-user__title">Добавить пользователя</p>
      <div class="search">
        {{{input-search}}}
        <img class="search__icon" src="{{search}}" alt="Иконка" />
        {{{button-search}}}
      </div>
      {{{list-users}}}
    </div>
  </div>
</div>
