<button type="button" class="profile__form-button-avatar">
  <img class="profile__form-avatar" src="{{avatar}}" alt="Иконка" />
  <span class="profile__form-avatar-text">Поменять аватар</span>
</button>
