.error {
  display: block;
  margin-top: 6px;
  font-weight: 500;
  font-size: 1rem;
  color: var(--color-red);
  height: 0;
  overflow: hidden;
}

.error_active {
  height: auto;
  overflow: visible;
}
