<html lang='ru'>
  <head>
    <meta charset='UTF-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <link rel='stylesheet' href='../../../assets/fonts/fonts.css' />
    <link rel='stylesheet' href='./index.css' />
    <title>Чат</title>
  </head>
  <body>
    <div class='container'>
      <nav class='nav'>
        <button class='button-profile' type='button'>
          <span class='button-profile__text'>Профиль</span>
          <span class='button-profile__arrow'></span>
        </button>
        <div class='search'>
          <input
            class='search__input'
            type='text'
            name='search'
            placeholder='Поиск'
          />
          <img
            class='search__icon'
            src='../../../assets/search.svg'
            alt='Иконка'
          />
        </div>
        <ul class='list'>
          {{> 'chat/chat'}}
          {{> 'chat/chat'}}
          {{> 'chat/chat'}}
          {{> 'chat/chat'}}
          {{> 'chat/chat'}}
          {{> 'chat/chat'}}
          {{> 'chat/chat'}}
          {{> 'chat/chat'}}
          {{> 'chat/chat'}}
          <span class='list__divider'></span>
        </ul>
      </nav>
      <div class='messages'>2</div>
    </div>
  </body>
</html>