---
title: 500
---

{{!< base}}

<main class='container'>
  <div class='wrapper'>
    <h1 class='title'>500</h1>
    <p class='text'>Мы уже фиксим</p>
    <a class='link' href='../chat/index.hbs'>Назад к чатам</a>
  </div>
</main>
