<div>
  <main class="container-500">
    <div class="wrapper-500">
      <h1 class="title-500">500</h1>
      <p class="text-500">Мы уже фиксим</p>
      {{{ button-switch-page }}}
    </div>
  </main>
</div>
