.dots {
  cursor: pointer;
  width: 25px;
  height: 25px;
  align-self: center;
  margin-bottom: 10px;
  margin-left: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: all 0.2s;
}

.dots:hover {
  background: var(--color-middle-gray);
}

svg circle {
  transition: all 0.2s;
}

.dots:hover svg circle {
  fill: var(--color-blue);
}
