.search__button {
  width: 22px;
  height: 22px;
  position: absolute;
  top: 50%;
  right: 14px;
  border-radius: 50%;
  border: 2px solid var(--color-blue);
  cursor: pointer;
  background: transparent;
  transform: translateY(-50%);
}

.search__button::after {
  content: "";
  position: absolute;
  width: 2px;
  height: 11px;
  top: 50%;
  left: 50%;
  background-color: var(--color-blue);
  transform: translate(-50%, -50%) rotate(45deg);
}

.search__button::before {
  content: "";
  position: absolute;
  width: 2px;
  height: 11px;
  top: 50%;
  left: 50%;
  background-color: var(--color-blue);
  transform: translate(-50%, -50%) rotate(-45deg);
}
