<div class="container-settings">
  <div class="modal-profile-avatar">
    {{{form-avatar}}}
  </div>

  <div class="profile">
    <div class="profile__arrow">
      {{{profile-arrow-left}}}
    </div>
    {{{form-settings}}}
  </div>
</div>
