<div class="container">
  <div class="modal-profile-avatar">
    <div class="modal-profile-avatar__wrapper">
      <p class="modal-profile-avatar__title">Загрузите файл</p>
      <label class="modal-profile-avatar__label" for="file">Выбрать файл на компьютере</label>
      <input class="modal-profile-avatar__input" type="file" name="file" id="file" />
      <button class="modal-profile-avatar__button" type="button">
        Поменять
      </button>
    </div>
  </div>

  <div class="profile">
    <div class="profile__arrow">
      {{{profile-arrow-left}}}
    </div>
    {{{form-settings}}}
  </div>
</div>
