.container {
  display: flex;
  height: 100%;
  padding: 0;
}

.nav {
  width: 326px;
  min-width: 326px;
  background: var(--color-light-gray);
}

.button-profile-container {
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
}

.search {
  padding: 0 10px;
  position: relative;
  margin-bottom: 14px;
}

.search__icon {
  position: absolute;
  top: 50%;
  transform: translate(6px, -50%);
}

.modal-add-delete-user__text {
  margin: 0;
  font-weight: 500;
  font-size: 1.2rem;
  color: var(--color-black);
}

.profile-passwords {
  width: 100%;
  max-width: 510px;
}
