---
title: 404
---

{{!< base}}

<main class='container'>
  <div class='wrapper'>
    <h1 class='title'>404</h1>
    <p class='text'>Не туда попали</p>
    <a class='link' href='../chat/index.hbs'>Назад к чатам</a>
  </div>
</main>

