<div>
  <main class="container-404">
    <div class="wrapper-404">
      <h1 class="title-404">404</h1>
      <p class="text-404">Не туда попали</p>
      {{{ button-switch-page }}}
    </div>
  </main>
</div>
