.clip-container {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  border: none;
  background: transparent;
  margin-left: 20px;
}

.clip {
  cursor: pointer;
}

.clip path {
  transition: all 0.2s;
}

.clip:hover path {
  fill: var(--color-blue);
}
